{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
    <title>Home</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav class="nav-bar">
          <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'main/images/LOGO.PNG' %}" alt="QUICK LOCKSMITH" /></a>
          </div>

          <div class="burger">
            <div class="br_icon">︾</div>
          </div>
        </nav>
        <div class="lis">
          <li class="list">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="list">
            <a href="{% url 'services' %}">Services</a>
          </li>
          <li class="list">
            <a href="{% url 'reviews' %}">Reviews</a>
          </li>
          <li class="list">
            <a href="{% url 'location' %}">Contact</a>
          </li>
          <li class="list">
            <a href="{% url 'login' %}">Log In</a>
          </li>
          <li class="list" id="Lo">
            <a href="{% url 'login' %}">Log In</a>
          </li>

          {% if request.user.is_authenticated %}
            <style>
              #Lo {
                display: none;
              }
            </style>
            <div class="logged-user">
              <div class="fl-left">
                <span>Hello</span>
                <p class="hello-user">{{ user }}</p>
              </div>

              <form class="logout" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="out" type="submit">Logout --></button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- middle content -->

    <form action="" method="post">
      {% csrf_token %}

      <p class="p-text">Usename:</p>
      <p>{{ form.username }}</p>
      <p class="p-text">Password:</p>
      <p class="pass">{{ form.password1 }}</p>
      <p class="p-text">Confirm Password:</p>
      <p class="pass">{{ form.password2 }}</p>

      <input type="submit" value="Sign Up" class="signup" />
    </form>

    <div class="container">
      <footer>
        <div class="social">
          <a class="icon" target="_blank" href="https://www.facebook.com/archilishengelia"><img src="{% static 'main/images/fb.png' %}" alt="" /></a>
          <a class="icon" target="_blank" href="https://www.facebook.com/archilishengelia"><img src="{% static 'main/images/insta.jpg' %}" alt="" /></a>
          <a class="icon" target="_blank" href="https://www.facebook.com/archilishengelia"><img src="{% static 'main/images/twit.PNG' %}" alt="" /></a>
        </div>
      </footer>
    </div>

    <script src="{% static 'main/js/index.js' %}"></script>
  </body>
</html>
