{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <title>Service</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <nav class="nav-bar">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'main/images/LOGO.PNG' %}" alt="QUICK LOCKSMITH"></a>
                </div>


                <div class="burger">
                    <div class="br_icon">︾</div>
                </div>
            </nav>
             <div class="lis">
                <li class="list"><a href="{% url 'home' %}">Home</a></li>
                <li class="list"><a href="{% url 'services' %}">Services</a></li>
                <li class="list"><a href="{% url 'reviews' %}">Reviews</a></li>
                <li class="list"><a href="{% url 'location' %}">Contact</a></li>
                <li class="list"><a href="{% url 'login' %}">Log In</a></li>
                 <li class="list" id="Lo"><a href="{% url 'login' %}">Log In</a></li>

                 {% if request.user.is_authenticated %}
                 <style>
                    #Lo {
                        display: none;
                    }
                </style>
                  <div class="logged-user">
                          <div class="fl-left">
                              <span>Hello</span>
                              <p class="hello-user">{{ user }}</p>
                          </div>



                         <form class="logout" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="out" type="submit">Logout --></button>
                         </form>


                  </div>

                 {% else %}

                   <li class="list"><a href="{% url 'sign_up' %}">Sign up</a></li>

                {% endif %}
            </div>
        </div>
    </div>

    <!-- middle content -->

  <div class="container">
       <div class="review">
        <h2>{{ review.title }}</h2>
        <p>{{ review.content }}</p>
        <h3>Comments:</h3>
            {% for comment in review.comments.all %}
                <div class="comment">
                    <p>{{ comment.content }}</p>
                    <small>By: {{ comment.author.username }}</small>
                </div>
            {% endfor %}
            <a href="{% url 'add_comment' review.pk %}" class="add-comment-link">Add Comment</a>
        </div>
  </div>





<!--     <div class="container">-->
<!--        <footer>-->
<!--            <div class="social">-->
<!--                <a class="icon" target="_blank" href="https://www.facebook.com/archilishengelia"><img src="{% static 'main/images/fb.png' %}" alt=""></a>-->
<!--                <a class="icon" target="_blank" href="https://www.facebook.com/archilishengelia"><img src="{% static 'main/images/insta.jpg' %}" alt=""></a>-->
<!--                <a class="icon" target="_blank" href="https://www.facebook.com/archilishengelia"><img src="{% static 'main/images/twit.PNG' %}" alt=""></a>-->
<!--            </div>-->
<!--        </footer>-->
<!--    </div>-->


    <script src="{% static 'main/js/js.js' %}"></script>
    <script src="{% static 'main/js/call.js' %}"></script>
</body>

</html>