body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.logo {
    width: 150px;
    height: 30px;
}

.logo img {
    width: 100%;
}

li {
    display: flex;
}

li a {
    text-decoration: none;
    color: white;
    margin-top: 15px;
    color: rgb(0 255 147);
}


li a:hover {
    color: rgb(18, 192, 18);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.lis {
    display: none;
    position: absolute;
    right: 40px;
}

.burger {
    font-size: 50px;
}

.br_icon:hover {
    color: green;
    cursor: pointer;
}


/* middle content */

.middle {
    height: 500px;
    width: 100%;
    background-image: url(/static/main/images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -20px;
}

.middle_service {
    height: 500px;
    width: 100%;
    background-image: url(/static/main/images/bg-img.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    margin-top: -20px;
}



.phone {
    color: rgb(15, 194, 15);
    font-weight: 600;
    position: relative;
    bottom: -390px;
    padding-left: 35%;
    margin-bottom: 50px;
    cursor: pointer;
}


.phone_service {
    color: rgb(15, 194, 15);
    font-weight: 600;
    position: relative;
    bottom: -210px;
    padding-left: 35%;
    margin-bottom: 50px;
}

/* chapter */

.hederText {
    display: block;
    margin: auto;
    color: rgb(214, 210, 210);
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: 300px;
    padding: 40px;
}

.text {
    font-size: 15px;
    margin-top: 20px;
    color: white;
    display: none;
}


/* icon */

.social {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    margin: 20px;
    border-radius: 5px;
}

/* location */

.middle_map {
    display: block;
    height: 500px;
    width: 100%;
}

.number img {
    width: 30px;
    height: 30px;
}


.number {
    display: flex;
    margin-top: 40px;
}


.address img {
    width: 30px;
    height: 30px;
}


.address {
    display: flex;
}

.mail img {
    width: 30px;
    height: 30px;
}


.mail {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* reviews */


.reviews {
    text-align: center;
    font-family: Arial;
}

.review-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-form input,
.review-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.review-form textarea {
    min-height: 150px;
}

.review-form button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.review {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.review-content {
    color: #555;
}

.btn-rew {
    text-decoration: none;
    color: white;

}

.btnR {
    border: 2px solid green;
    background: #86c29e;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


/* accounts */
.helptext {
    display: none;
}

label {
    display: none
}

#id_username {
    display: block;
    margin: auto;

}

#id_password1 {
    display: block margin:auto;
}

#id_password2 {
    display: block margin:auto;
}

.p-text {
    text-align: center;
    margin: 15px 0 15px 0;
}

.signup {
    display: block;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;

}

.login_page {
    margin-top: 80px;
}


.ur_name {
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

#login {
    display: block;
    margin: auto;
    cursor: pointer;
    margin-bottom: 40px;
}

.fl-left {
    color: green;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hello-user {
    color: green;
    display: flex;
    margin-left: 5px;
}

.out {
    border: none;
    background: none;
    color: green;
    cursor: pointer;
}

#id_password1 {
    display: block;
    margin: auto;
}

#id_password2 {
    display: block;
    margin: auto;
}




/* desckdop */

@media screen and (min-width: 1024px) {
    .nav-bar {
        margin-bottom: 30px;
    }

    .burger {
        display: none;
    }

    .lis {
        display: flex;
        margin-top: -50px;
        font-size: 20px;
    }

    .list {
        margin-left: 40px;
    }


    .lis a {
        color: rgb(5, 80, 5);
    }

    .middle_map {
        display: flex;
    }

    .middle_map img {
        width: 40px;
        height: 40px;
    }

    .number {
        display: flex;
        margin-top: 40px;
    }

    .number p {
        font-size: 18px;
        margin-top: 8px;
        margin-left: 15px;
    }

    .contact_Info {
        margin-left: 50px;
    }

    .mail {
        display: flex;
        margin-top: 100px;
    }

    .mailT {
        margin-top: 8px;
        font-size: 18px;
        margin-left: 15px;
    }

    .address {
        display: flex;
        margin-top: 100px;
        margin-left: -10px;
    }

    .address img {
        width: 60px;
        height: 60px;
        display: flex;
    }

    .adrs {
        margin-top: 15px;
        font-size: 18px;
    }

    .phone_service {
        margin-left: 8%;
        cursor: pointer;
        font-size: 28px;
        position: relative;
        bottom: -160px;
    }

    .phone_service:hover {
        color: rgb(0 255 147);
    }

    .phone {
        cursor: pointer;
        font-size: 28px;
    }

    #callButton {
        cursor: pointer;
    }

    .phone:hover {
        color: rgb(0 255 147);
    }

    .hederText {
        font-size: 28px;
    }

    .text {
        font-size: 25px;
    }

    .login_page {
        margin-top: 120px;
        margin-bottom: 300px;
    }

    .fl-left {
        margin-right: 5px;
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    .logged-user {
        display: flex;
        justify-content: space-between;
    }

    .out {
        font-size: 18px;
        margin-left: 15px;
        margin-top: 15px;
    }

    #id_password1 {
        display: block;
        margin: auto;
    }

    #id_password2 {
        display: block;
        margin: auto;
    }

}